// This file must be imported before loading html5-boilerplate

@import "three-column";

// base
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

// custom colors

$main-blue: #2E63A9;
$main-red: #FF2A00;
$main-white: #F0F0FF;

$comp1-main-blue: darken(desaturate($main-blue, 16.8), 9);

// modulaire schaal 1:1.168

$step-5-gold-16: 1.443;
$step-4-gold-16: 2.335;
$step-3-gold-16: 3.778;
$step-2-gold-16: 6.112;
$step-1-gold-16: 9.889;
$step1-gold-16: 16;
$step2-gold-16: 25.888;
$step3-gold-16: 41.887;
$step4-gold-16: 67.773;
$step5-gold-16: 109.657;
$step6-gold-16: 177.425;
$step7-gold-16: 287.074;
$step8-gold-16: 464.486;
$step9-gold-16: 751.538;

// modulaire schaal 16@1:1.168 in pixels

$step-5-gold-px: 1.443px;
$step-4-gold-px: 2.335px;
$step-3-gold-px: 3.778px;
$step-2-gold-px: 6.112px;
$step-1-gold-px: 9.889px;
$step1-gold-px: 16px;
$step2-gold-px: 25.888px;
$step3-gold-px: 41.887px;
$step4-gold-px: 67.773px;
$step5-gold-px: 109.657px;
$step6-gold-px: 177.425px;
$step7-gold-px: 287.074px;
$step8-gold-px: 464.486px;
$step9-gold-px: 751.538px;

// modulaire schaal 1:1.618 in ems

$step-5-gold-em: 0.09em;
$step-4-gold-em: 0.146em;
$step-3-gold-em: 0.236em;
$step-2-gold-em: 0.382em;
$step-1-gold-em: 0.618em;
$step1-gold-em: 1em;
$step2-gold-em: 1.618em;
$step3-gold-em: 2.618em;
$step4-gold-em: 4.236em;
$step5-gold-em: 6.854em;
$step6-gold-em: 11.089em;
$step7-gold-em: 17.942em;
$step8-gold-em: 29.03em;
$step9-gold-em: 46.971em;


//temp mixins

@mixin background-blue {
    background-color: $main-blue;
    background-image: url(../images/subtle_grunge_blue_@2X.png);
    background-size: contain;
}


@mixin headliner {
    @include multi-transition(all, 0.5s, linear, 0.3s);/*this is for testing*/
  /*@include border-white($step-3-gold-px);*/
  margin-top: $step-1-gold-em;
  width: 3.778*($step5-gold-em);
  overflow: hidden;
    p {
        text-align: justify;
        }    
}


//----------------------------
// Borders

//----------------------------


@mixin border-blue($borderBlueEdge) {
    border: $borderBlueEdge solid $main-blue;
}

@mixin border-white($borderEdge) {
    border: $borderEdge solid $main-white;
}

@mixin border-sides($borderColor, $borderWidth, $borderStyle: solid) {
    border-right: $borderWidth $borderStyle $borderColor;
    border-left: $borderWidth $borderStyle $borderColor;
}

@mixin border-nosides($borderColor, $borderWidth, $borderStyle: solid) {
    border-top: $borderWidth $borderStyle $borderColor;
    border-bottom: $borderWidth $borderStyle $borderColor;
}

@mixin border-nobottom($borderColor, $borderWidth, $borderStyle: solid) {
    border-top: $borderWidth $borderStyle $borderColor;
    border-right: $borderWidth $borderStyle $borderColor;
    border-left: $borderWidth $borderStyle $borderColor;
}

@mixin border-noleft($borderColor, $borderWidth, $borderStyle: solid) {
    border-top: $borderWidth $borderStyle $borderColor;
    border-right: $borderWidth $borderStyle $borderColor;
    border-bottom: $borderWidth $borderStyle $borderColor;
}

@mixin border-noright($borderColor, $borderWidth, $borderStyle: solid) {
    border-top: $borderWidth $borderStyle $borderColor;
    border-bottom: $borderWidth $borderStyle $borderColor;
    border-left: $borderWidth $borderStyle $borderColor;
}

@mixin border-nobottom-noleft($borderColor, $borderWidth, $borderStyle: solid) {
    border-top: $borderWidth $borderStyle $borderColor;
    border-right: $borderWidth $borderStyle $borderColor;
}

@mixin border-nobottom-noright($borderColor, $borderWidth, $borderStyle: solid) {
    border-top: $borderWidth $borderStyle $borderColor;
    border-left: $borderWidth $borderStyle $borderColor;
}

@mixin border-bottom($borderColor, $borderWidth, $borderStyle: solid) {
    border-bottom: $borderWidth $borderStyle $borderColor;
}

//----------------------------
// Shadows

//----------------------------

@mixin boxShadow($h-shadow, $v-shadow, $blur, $shadowColor) {
    box-shadow: $h-shadow $v-shadow $blur $shadowColor;
}

//----------------------------
/*@mixin naar-links($sloppy) {
    $linkser: ($step-1-gold-16)+($sloppy);
}*/

$linkser: ($step-1-gold-16)+($step-3-gold-px);

//----------------------------
// gradients

//----------------------------

@mixin gradient-red{
    background: #ecc1bc; /* Old browsers */
background: -moz-linear-gradient(top, #ecc1bc 0%, #df978f 17%, #d26f64 33%, #820d00 50%, #d41500 69%, #d41500 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecc1bc), color-stop(17%,#df978f), color-stop(33%,#d26f64), color-stop(50%,#820d00), color-stop(69%,#d41500), color-stop(98%,#d41500)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ecc1bc 0%,#df978f 17%,#d26f64 33%,#820d00 50%,#d41500 69%,#d41500 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ecc1bc 0%,#df978f 17%,#d26f64 33%,#820d00 50%,#d41500 69%,#d41500 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ecc1bc 0%,#df978f 17%,#d26f64 33%,#820d00 50%,#d41500 69%,#d41500 98%); /* IE10+ */
background: linear-gradient(to bottom, #ecc1bc 0%,#df978f 17%,#d26f64 33%,#820d00 50%,#d41500 69%,#d41500 98%); /* W3C */
}

@mixin gradient-blue {
    background: #2e63a9; /* Old browsers */
background: -moz-linear-gradient(top, #2e63a9 0%, #034aa8 12%, #020c66 24%, #2e63a9 50%, #020c66 84%, #5e7ea8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e63a9), color-stop(12%,#034aa8), color-stop(24%,#020c66), color-stop(50%,#2e63a9), color-stop(84%,#020c66), color-stop(100%,#5e7ea8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2e63a9 0%,#034aa8 12%,#020c66 24%,#2e63a9 50%,#020c66 84%,#5e7ea8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2e63a9 0%,#034aa8 12%,#020c66 24%,#2e63a9 50%,#020c66 84%,#5e7ea8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2e63a9 0%,#034aa8 12%,#020c66 24%,#2e63a9 50%,#020c66 84%,#5e7ea8 100%); /* IE10+ */
background: linear-gradient(to bottom, #2e63a9 0%,#034aa8 12%,#020c66 24%,#2e63a9 50%,#020c66 84%,#5e7ea8 100%); /* W3C */
}

@mixin gradient-lightblue {
    background: #2b60a5; /* Old browsers */
background: -moz-linear-gradient(top, #2b60a5 0%, #3565a3 14%, #2e63a9 24%, #0b4fa8 50%, #2e63a9 76%, #034aa8 86%, #034aa8 86%, #2e63a9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b60a5), color-stop(14%,#3565a3), color-stop(24%,#2e63a9), color-stop(50%,#0b4fa8), color-stop(76%,#2e63a9), color-stop(86%,#034aa8), color-stop(86%,#034aa8), color-stop(100%,#2e63a9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2b60a5 0%,#3565a3 14%,#2e63a9 24%,#0b4fa8 50%,#2e63a9 76%,#034aa8 86%,#034aa8 86%,#2e63a9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2b60a5 0%,#3565a3 14%,#2e63a9 24%,#0b4fa8 50%,#2e63a9 76%,#034aa8 86%,#034aa8 86%,#2e63a9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2b60a5 0%,#3565a3 14%,#2e63a9 24%,#0b4fa8 50%,#2e63a9 76%,#034aa8 86%,#034aa8 86%,#2e63a9 100%); /* IE10+ */
background: linear-gradient(to bottom, #2b60a5 0%,#3565a3 14%,#2e63a9 24%,#0b4fa8 50%,#2e63a9 76%,#034aa8 86%,#034aa8 86%,#2e63a9 100%); /* W3C */
}

@mixin gradient-blue2 {
    background: #1f4474; /* Old browsers */
background: -moz-linear-gradient(top, #1f4474 0%, #2e63a9 16%, #3f7bcb 24%, #3f7bcb 50%, #3f7bcb 76%, #2e63a9 84%, #1f4474 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f4474), color-stop(16%,#2e63a9), color-stop(24%,#3f7bcb), color-stop(50%,#3f7bcb), color-stop(76%,#3f7bcb), color-stop(84%,#2e63a9), color-stop(100%,#1f4474)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1f4474 0%,#2e63a9 16%,#3f7bcb 24%,#3f7bcb 50%,#3f7bcb 76%,#2e63a9 84%,#1f4474 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1f4474 0%,#2e63a9 16%,#3f7bcb 24%,#3f7bcb 50%,#3f7bcb 76%,#2e63a9 84%,#1f4474 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1f4474 0%,#2e63a9 16%,#3f7bcb 24%,#3f7bcb 50%,#3f7bcb 76%,#2e63a9 84%,#1f4474 100%); /* IE10+ */
background: linear-gradient(to bottom, #1f4474 0%,#2e63a9 16%,#3f7bcb 24%,#3f7bcb 50%,#3f7bcb 76%,#2e63a9 84%,#1f4474 100%); /* W3C */
}

@mixin gradient-darkblue-alpha {
    background: -moz-linear-gradient(top, rgba(20,63,119,0) 0%, rgba(20,63,119,0.8) 15%, rgba(20,63,119,1) 19%, rgba(20,63,119,1) 24%, rgba(46,99,169,1) 50%, rgba(20,63,119,1) 76%, rgba(20,63,119,1) 81%, rgba(20,63,119,0.8) 85%, rgba(20,63,119,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,63,119,0)), color-stop(15%,rgba(20,63,119,0.8)), color-stop(19%,rgba(20,63,119,1)), color-stop(24%,rgba(20,63,119,1)), color-stop(50%,rgba(46,99,169,1)), color-stop(76%,rgba(20,63,119,1)), color-stop(81%,rgba(20,63,119,1)), color-stop(85%,rgba(20,63,119,0.8)), color-stop(100%,rgba(20,63,119,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(20,63,119,0) 0%,rgba(20,63,119,0.8) 15%,rgba(20,63,119,1) 19%,rgba(20,63,119,1) 24%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 76%,rgba(20,63,119,1) 81%,rgba(20,63,119,0.8) 85%,rgba(20,63,119,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(20,63,119,0) 0%,rgba(20,63,119,0.8) 15%,rgba(20,63,119,1) 19%,rgba(20,63,119,1) 24%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 76%,rgba(20,63,119,1) 81%,rgba(20,63,119,0.8) 85%,rgba(20,63,119,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(20,63,119,0) 0%,rgba(20,63,119,0.8) 15%,rgba(20,63,119,1) 19%,rgba(20,63,119,1) 24%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 76%,rgba(20,63,119,1) 81%,rgba(20,63,119,0.8) 85%,rgba(20,63,119,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(20,63,119,0) 0%,rgba(20,63,119,0.8) 15%,rgba(20,63,119,1) 19%,rgba(20,63,119,1) 24%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 76%,rgba(20,63,119,1) 81%,rgba(20,63,119,0.8) 85%,rgba(20,63,119,0) 100%); /* W3C */
}

@mixin gradient-lightblue-alpha {
    background: -moz-linear-gradient(top, rgba(29,92,170,0) 0%, rgba(29,92,170,0.8) 15%, rgba(29,92,170,1) 19%, rgba(29,92,170,1) 32%, rgba(46,99,169,1) 50%, rgba(20,63,119,1) 85%, rgba(22,70,132,1) 87%, rgba(29,92,170,0.8) 93%, rgba(29,92,170,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,92,170,0)), color-stop(15%,rgba(29,92,170,0.8)), color-stop(19%,rgba(29,92,170,1)), color-stop(32%,rgba(29,92,170,1)), color-stop(50%,rgba(46,99,169,1)), color-stop(85%,rgba(20,63,119,1)), color-stop(87%,rgba(22,70,132,1)), color-stop(93%,rgba(29,92,170,0.8)), color-stop(100%,rgba(29,92,170,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(29,92,170,0) 0%,rgba(29,92,170,0.8) 15%,rgba(29,92,170,1) 19%,rgba(29,92,170,1) 32%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 85%,rgba(22,70,132,1) 87%,rgba(29,92,170,0.8) 93%,rgba(29,92,170,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(29,92,170,0) 0%,rgba(29,92,170,0.8) 15%,rgba(29,92,170,1) 19%,rgba(29,92,170,1) 32%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 85%,rgba(22,70,132,1) 87%,rgba(29,92,170,0.8) 93%,rgba(29,92,170,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(29,92,170,0) 0%,rgba(29,92,170,0.8) 15%,rgba(29,92,170,1) 19%,rgba(29,92,170,1) 32%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 85%,rgba(22,70,132,1) 87%,rgba(29,92,170,0.8) 93%,rgba(29,92,170,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(29,92,170,0) 0%,rgba(29,92,170,0.8) 15%,rgba(29,92,170,1) 19%,rgba(29,92,170,1) 32%,rgba(46,99,169,1) 50%,rgba(20,63,119,1) 85%,rgba(22,70,132,1) 87%,rgba(29,92,170,0.8) 93%,rgba(29,92,170,0) 100%); /* W3C */
}

@mixin gradient-lightblue-alpha2 {
    background: -moz-linear-gradient(top, rgba(46,99,169,0) 0%, rgba(46,99,169,0.8) 24%, rgba(46,99,169,1) 32%, rgba(46,99,169,1) 44%, rgba(29,92,170,1) 51%, rgba(29,92,170,1) 68%, rgba(29,92,170,0.8) 76%, rgba(29,92,170,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,99,169,0)), color-stop(24%,rgba(46,99,169,0.8)), color-stop(32%,rgba(46,99,169,1)), color-stop(44%,rgba(46,99,169,1)), color-stop(51%,rgba(29,92,170,1)), color-stop(68%,rgba(29,92,170,1)), color-stop(76%,rgba(29,92,170,0.8)), color-stop(100%,rgba(29,92,170,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(46,99,169,0) 0%,rgba(46,99,169,0.8) 24%,rgba(46,99,169,1) 32%,rgba(46,99,169,1) 44%,rgba(29,92,170,1) 51%,rgba(29,92,170,1) 68%,rgba(29,92,170,0.8) 76%,rgba(29,92,170,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(46,99,169,0) 0%,rgba(46,99,169,0.8) 24%,rgba(46,99,169,1) 32%,rgba(46,99,169,1) 44%,rgba(29,92,170,1) 51%,rgba(29,92,170,1) 68%,rgba(29,92,170,0.8) 76%,rgba(29,92,170,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(46,99,169,0) 0%,rgba(46,99,169,0.8) 24%,rgba(46,99,169,1) 32%,rgba(46,99,169,1) 44%,rgba(29,92,170,1) 51%,rgba(29,92,170,1) 68%,rgba(29,92,170,0.8) 76%,rgba(29,92,170,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(46,99,169,0) 0%,rgba(46,99,169,0.8) 24%,rgba(46,99,169,1) 32%,rgba(46,99,169,1) 44%,rgba(29,92,170,1) 51%,rgba(29,92,170,1) 68%,rgba(29,92,170,0.8) 76%,rgba(29,92,170,0) 100%); /* W3C */
}

@mixin gradient-blue3 {
    background-color: rgb(46,99,169); // Old browsers
@include filter-gradient(#2e63a9, #2e63a9, vertical); // IE6-9
@include background-image(linear-gradient(top, rgba(46,99,169,1) 0%,rgba(130,169,221,1) 32%,rgba(130,169,221,1) 68%,rgba(46,99,169,1) 100%));
}

@mixin gradient-lightblue-horizontal {
    background-color: rgb(46,99,169); // Old browsers
@include filter-gradient(#2e63a9, #2e63a9, horizontal); // IE6-9
@include background-image(linear-gradient(left, rgba(46,99,169,1) 0%,rgba(232,238,240,1) 86%,rgba(232,238,240,1) 86%,rgba(46,99,169,1) 100%));
}

//----------------------------
// Transitions

//----------------------------


@mixin multi-transition($what, $time, $ease, $delayed) {
    transition: $what $time $ease $delayed;
    -moz-transition: $what $time $ease $delayed;
    -o-transition: $what $time $ease $delayed;
    -webkit-transition: $what $time $ease $delayed;
    -ms-transition: $what $time $ease $delayed;
}