@import "compass/css3";
@import "compass/typography";
@include font-face-bitstream-roman;
@include font-face-sans-pro-regular;
@include font-face-lato-regular;
@include font-face-lato-bold;
@include font-face-colaborate-regular;
@include font-face-nobile-regular;

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

// ----------------------------------
// Variables
$main-font: 'LatoRegular', sans-serif;
$main-font-bold: 'LatoBold', sans-serif;

$nav-font: 'NobileRegular', sans-serif;

// ----------------------------------

// ----------------------------------
// Mixins


// ----------------------------------

body {
    @include background-blue;
    
}

#container {
  
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;

}

#site_name {
  @include multi-transition(all, 0.5s, linear, 0.3s);
  @include border-noleft($step-4-gold-px, $main-white);
  @include background-blue;
  /*border-left: $step-4-gold-px solid $main-blue;*/
  padding-right: $step-2-gold-em;
  text-align: center;
  position: absolute;
  color: $main-white;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 3px;
  top: $step4-gold-em;
  z-index: 10000;
      h1 {
      margin: 0;
      padding: $step-3-gold-em $step-3-gold-em $step-5-gold-em $step-3-gold-em;
      text-transform: uppercase;
      
      }
      p {
        font-size: $step-1-gold-em;
      }
      
    
}

header {
  position: relative;
  margin: ($step4-gold-em)-($step3-gold-em) auto 0;
  width: 100%;
  @include background-blue;
    img {
      margin: $step2-gold-em $step1-gold-em $step2-gold-em 0;
    }
}
.slideshow_container {
    @include clearfix;
}

#logo {
  
  position: absolute;
  top: ($step6-gold-px);
  /*left: 3.178*($step6-gold-px);*/
  left: 48%;
  z-index: 10000;
}

#slideshow {
  @include border-white($step-1-gold-px);
  /*position: relative;
  left: -($step3-gold-em);
  top: -($step2-gold-em);*/
  float: left;
  /*border: $step-1-gold-px solid $main-white;*/
}

#nav_bar ul {
  
  @include horizontal-list-container;
  /*@include border-blue;*/
  @include border-nobottom-noleft($main-white,$step-2-gold-px);
  /*@include gradient-lightblue;*/
  @include background-blue;
  float: left;
  position: relative;
  left: -($step-1-gold-px);
  clear: both;
  display: block;
  margin: 0 $step3-gold-em 0 $step-1-gold-em;
  padding: $step-1-gold-em $step-1-gold-em $step-1-gold-em 0;
  font-family: $nav-font;
  line-height: 1.4;
    li {
      
      @include horizontal-list-item (0.344em, left);      
    }
    a {
      @include gradient-lightblue-alpha2;
      @include border-radius($step-1-gold-em,$step-2-gold-em);
      @include multi-transition(all, 0.5s, linear, 0.3s); 
      position: relative;
      top: 0px;
      left: 0px;
      padding: $step1-gold-em $step-1-gold-em $step-1-gold-em;
      color: lighten($main-blue, 38);
      text-shadow: 0.1px 0.4px darken($main-blue,16);
      /*font-size: 1.1*($step1-gold-em);*/
      text-decoration: none;
      opacity: 1;
        &:hover {
          /*@include gradient-blue;*/
          @include border-radius($step3-gold-em,$step-1-gold-em);
          position: relative;
          top: -1px;
          left: 2px;
          padding: $step2-gold-em $step-1-gold-em $step-1-gold-em;
          color: lighten($main-blue, 38);
          text-shadow: 0.1px 0.4px darken($main-blue,16);
          text-decoration: none;
          opacity: 0.8;
        }
    }
}

.headlines {  
  float: left;
  color: $main-white;
  line-height: 1.112;
  font-size: ($step-1-gold-em);
  margin-top: 1em;
  
  /*height: $step6-gold-em;*/
    h3 {
      font-size: $step2-gold-em;
      padding: 0 $step-1-gold-em;
    }
    p {
      /*@include ellipsis(wrap);*/
      padding: 0 $step1-gold-em;
      font-family: $main-font;
    }
}


#headline1 {
  @include headliner;
  @include gradient-lightblue-alpha2;
}

#headline2 {
  @include headliner;
  @include gradient-lightblue-alpha2;
  margin-left: $step4-gold-em;
}

#headline3 {
  @include headliner;
  @include gradient-lightblue-alpha2;
  margin-left: $step6-gold-em;
}

#nav_side {
  
  @include border-blue($step-2-gold-px);
  background: $main-white;
  position: relative;
  left: -($step2-gold-em);
  float: left;
  margin: 0 $step1-gold-em 0 $step1-gold-em;
  padding: $step1-gold-em $step3-gold-em $step1-gold-em 0;
  background-color: $main-white;
  line-height: 2.618;
  clear: both;
    li {
      
      list-style: none;
      margin: $step-3-gold-em 0;
      position: relative;
      left: -(($linkser)+(1.2*($step-1-gold-px)));      
    }
      a {
        @include multi-transition(all, 0.5s, linear, 0.3s);
        padding: $step-1-gold-em 0 $step-1-gold-em $step-3-gold-em;
        color: darken($main-blue,32);
        font-family: $nav-font;
        text-shadow: 0.1px 0.4px lighten($main-blue, 38);
        text-decoration: none;
          &:hover {
            color: adjust-hue($main-blue, 13);
          }
      }
}

#main {
  
  margin: $step3-gold-em auto;
  padding: $step2-gold-em $step2-gold-em $step1-gold-em 0;
  color: $main-blue;
  background-color: $main-white;
  width: 76%;
  font-family: $main-font;
}


#doneer_buttons {
  margin: $step2-gold-em $step3-gold-em;
}

#doneer, #sponsor {
  @include border-radius($step1-gold-em,$step2-gold-em);
  @include gradient-lightblue;
  @include multi-transition(all, 0.3s, linear, 0.2s);
  @include boxShadow($step-3-gold-em, $step-4-gold-em, $step-2-gold-em, darken($main-blue, 32));
  padding: $step-2-gold-em $step1-gold-em;
  margin: $step1-gold-px 0 0 $step1-gold-em;
  display: inline-block;
  position: relative;
  color: lighten($main-blue, 38);
  text-shadow: 0.1px 0.4px darken($main-blue,16);
  top: 0px;
  left: 0px;
  text-transform: uppercase;
  line-height: 1.618;
  &:hover {
      color: lighten($main-red, 0);
      text-shadow: 0.6px 0.4px 0.6px darken($main-blue,32);
      position: relative;
      left: 0.618px;
      top: 1.618px;
      @include boxShadow($step-4-gold-em, $step-5-gold-em, $step-3-gold-em, darken($main-blue, 32));
    }
    a {
      @include multi-transition(all, 0.3s, ease-in, 0.6s);
      color: lighten($main-blue, 38);
      text-shadow: 0.1px 0.4px darken($main-blue,16);
      text-decoration: none;
      font-family: $main-font-bold;
      font-size: 0.92*($step1-gold-em);
        &:hover {
          color: lighten($main-red, 16);
          text-shadow: 0.3px 0.3px 1px darken($main-blue,38);
        }
    }
    
}

.main_content {
  
    p {
      @include clearfix;
      color: darken($main-white, 80);
      min-width: 46%;
      min-height: $step8-gold-em;
      position: relative;
      text-align: justify;
      text-indent: $step2-gold-em;
      line-height: 1.4;
      padding: $step1-gold-em;
    }
    h2 {
      
      @include border-bottom($main-blue, $step-5-gold-px);
      padding: $step1-gold-em 0 $step1-gold-em $step2-gold-em;
      max-width: 68%;
      color: $comp1-main-blue;
      font-family: $main-font-bold;
      font-size: 1.16*($step2-gold-em);
    }
    
}



#front-page {
  
}

#logo_header {
  float: left;
}

#sponsors {
  @include border-blue($step-3-gold-em);
  float: right;
  width: 1.2*($step6-gold-em);
  min-height: $step8-gold-em;
  position: relative;
  left: $step2-gold-em;
  top: $step4-gold-em;
  background-color: $main-white;
  padding: $step-3-gold-em $step1-gold-em;
  margin-bottom: $step2-gold-em;
    h2 {
      @include gradient-blue2;
      border-radius: $step-1-gold-em;
      color: lighten($main-blue, 46);
      text-shadow: 0.1px 0.4px darken($main-blue,34);
      padding: $step-2-gold-em;
      text-align: center;
      font-family: $main-font;
      font-size: $step1-gold-em;
    }
}

#bottom_content {
  @include clearfix;
  width: 100%;
  margin: 0 $step3-gold-em;
  text-align: center;
}

.bottom_containers {
  
  float: left;
  width: 28%;
  min-width: ($step-3-gold-16)+($step6-gold-em);
  padding: $step1-gold-em;
    p {
      
      padding: $step1-gold-em;
      background-image: url(../images/shattered_blue.png);
      background-size: cover;
      color: lighten($main-blue, 12);
    }
}

footer {
  width: 100%;
  min-height: $step7-gold-em;
  background-color: darken($main-blue, 6);
  color: lighten($main-blue, 48);
    p {
      padding: $step2-gold-em;
    }
}
