@import "compass/css3";
@import "compass/typography";
@include font-face-bitstream-roman;
@include font-face-sans-pro-regular;
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
    background-color: $main-blue;

}

#container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  margin: ($step4-gold-em)-($step3-gold-em) auto 0;
  width: 100%;
  background-color: $main-blue;
    img {
      margin: $step2-gold-em $step1-gold-em $step2-gold-em 0;
    }
}
.slideshow {
    @include clearfix;
}

#logo {
  position: absolute;
  top: $step6-gold-px;
  left: 3.178*($step6-gold-px);
}

#slideshow {
  /*position: relative;
  left: -($step3-gold-em);
  top: -($step2-gold-em);*/
  float: left;
  border: $step-1-gold-px solid $main-white;
}

#nav_bar ul {
  @include horizontal-list-container;
  @include border-blue;
  float: left;
  position: relative;
  left: -($linkser);
  clear: both;
  display: block;
  margin: 0 $step3-gold-em $step3-gold-em $step-1-gold-em;
  background-color: $main-white;
  padding: $step1-gold-em $step2-gold-em;
  font-family: Verdana, sans-serif;
  line-height: 1.4;
    li {
      @include horizontal-list-item (0.344em, left);
      padding: 0 0 0 $step3-gold-em;
    }
      a {
        color: inherit;
        text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
      }
}

.headlines {
  float: left;
  color: $main-white;
  line-height: 1.112;
  font-size: ($step-1-gold-em);
  margin-top: 1em;
  
  /*height: $step6-gold-em;*/
    h3 {
      font-size: $step2-gold-em;
      padding: 0 $step-1-gold-em;
    }
    p {
      /*@include ellipsis(wrap);*/
      padding: 0 $step1-gold-em;
      font-family: 'SourceSansProRegular', sans-serif;
    }
}


#headline1 {
  @include headliner;
}

#headline2 {
  @include headliner;
  margin-left: $step4-gold-em;
}

#headline3 {
  @include headliner;
  margin-left: $step6-gold-em;
}

#nav_side {
  @include border-blue;
  position: relative;
  /*top: ($step2-gold-16)+($step8-gold-px);*/
  left: -(($linkser)+(2*($step-3-gold-16)));
  float: left;
  margin: 0 $step3-gold-em 0 $step1-gold-em;
  padding: $step1-gold-em $step3-gold-em $step1-gold-em 0;
  font-family: Verdana, sans-serif;
  background-color: $main-white;
  color: inherit;
  font-size: 1.112*($step1-gold-em);
  line-height: 2.618;
  clear: both;
  /*@include pretty-bullets('black-arrow-icon.png');*/
    li {
      list-style: none;
      
    /*  background-image: url(../images/black-arrow-icon.png)*/
    }
            a {
        color: inherit;
        text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
      }
}

#main {
  margin: $step3-gold-em auto;
  padding: $step2-gold-em $step2-gold-em $step3-gold-em 0;
  color: $main-blue;
  background-color: $main-white;
  width: 76%;
  font-family: 'SourceSansProRegular', sans-serif;
}

.main_content {
  
    p {
      margin: 0 auto;
      @include clearfix;
      @include columns($step1-gold-em 2);
      @include column-gap($step3-gold-em);
      color: darken($main-white, 80);
      width: 80%;
      position: relative;
      left: -($step3-gold-em);
      text-align: justify;
      text-indent: $step2-gold-em;
      line-height: 1.4;
    }
    h2 {
      margin: $step2-gold-em 0 $step2-gold-em $step2-gold-em;
    }
    
}

#front-page {
  
}

#logo_header {
  float: left;
  /*display: inline-block;*/
}
footer {}
