/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 39, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 47, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 153, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 173, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 180, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 188, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 195, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 202, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 208, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 214, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 220, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 231, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 245, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 249, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 256, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 268, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 274, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 285, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 296, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 301, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 310, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 323, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 333, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 347, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 355, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 364, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 374, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 384, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 390, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 397, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 409, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'BitstreamVeraSansRoman';
  src: url("../fonts/Bitstream_Vera/Vera-webfont.eot");
  src: url("../fonts/Bitstream_Vera/Vera-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Bitstream_Vera/Vera-webfont.woff") format("woff"), url("../fonts/Bitstream_Vera/Vera-webfont.ttf") format("truetype"), url("../fonts/Bitstream_Vera/Vera-webfont.svg#BitstreamVeraSansRoman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/Sans_Pro/SourceSansPro-Regular-webfont.eot");
  src: url("../fonts/Sans_Pro/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Sans_Pro/SourceSansPro-Regular-webfont.woff") format("woff"), url("../fonts/Sans_Pro/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("../fonts/Sans_Pro/SourceSansPro-Regular-webfont.svg#SourceSansProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/Lato/Lato-Reg-webfont.eot");
  src: url("../fonts/Lato/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Reg-webfont.woff") format("woff"), url("../fonts/Lato/Lato-Reg-webfont.ttf") format("truetype"), url("../fonts/Lato/Lato-Reg-webfont.svg#LatoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 10, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 26, ../sass/partials/_page.scss */
body {
  background-color: #2e63a9;
}

/* line 31, ../sass/partials/_page.scss */
#container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* line 39, ../sass/partials/_page.scss */
#site_name {
  border: 2.335px solid white;
  border-left: 2.335px solid #2e63a9;
  padding-right: 0.382em;
  position: absolute;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 3px;
  background-color: #2e63a9;
  top: 4.236em;
  /*left: -($step-4-gold-px);*/
}
/* line 51, ../sass/partials/_page.scss */
#site_name h1 {
  margin: 0;
  padding: 0.236em 0.618em 0.236em 0;
  text-transform: uppercase;
}
/* line 57, ../sass/partials/_page.scss */
#site_name p {
  font-size: 0.618em;
}

/* line 64, ../sass/partials/_page.scss */
header {
  position: relative;
  margin: 1.618em auto 0;
  width: 100%;
  background-color: #2e63a9;
}
/* line 69, ../sass/partials/_page.scss */
header img {
  margin: 1.618em 1em 1.618em 0;
}

/* line 73, ../sass/partials/_page.scss */
.slideshow {
  overflow: hidden;
  *zoom: 1;
}

/* line 77, ../sass/partials/_page.scss */
#logo {
  position: absolute;
  top: 177.425px;
  left: 563.85665px;
}

/* line 83, ../sass/partials/_page.scss */
#slideshow {
  /*position: relative;
  left: -($step3-gold-em);
  top: -($step2-gold-em);*/
  float: left;
  border: 9.889px solid white;
}

/* line 91, ../sass/partials/_page.scss */
#nav_bar ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  border: 3.778px solid #2e63a9;
  float: left;
  position: relative;
  left: -13.667px;
  clear: both;
  display: block;
  margin: 0 2.618em 0 0.618em;
  background-color: white;
  padding: 1em 1.618em;
  font-family: Verdana, sans-serif;
  line-height: 1.4;
}
/* line 104, ../sass/partials/_page.scss */
#nav_bar ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0.344em;
  padding-right: 0.344em;
  padding: 0 0 0 2.618em;
}
/* line 48, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#nav_bar ul li:first-child, #nav_bar ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#nav_bar ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#nav_bar ul li.last {
  padding-right: 0;
}
/* line 108, ../sass/partials/_page.scss */
#nav_bar ul a {
  color: inherit;
  text-decoration: none;
}
/* line 111, ../sass/partials/_page.scss */
#nav_bar ul a:hover {
  text-decoration: underline;
}

/* line 117, ../sass/partials/_page.scss */
.headlines {
  float: left;
  color: white;
  line-height: 1.112;
  font-size: 0.618em;
  margin-top: 1em;
  /*height: $step6-gold-em;*/
}
/* line 125, ../sass/partials/_page.scss */
.headlines h3 {
  font-size: 1.618em;
  padding: 0 0.618em;
}
/* line 129, ../sass/partials/_page.scss */
.headlines p {
  /*@include ellipsis(wrap);*/
  padding: 0 1em;
  font-family: "LatoRegular", sans-serif;
}

/* line 137, ../sass/partials/_page.scss */
#headline1 {
  /*@include border-white($step-3-gold-px);*/
  margin-top: 0.618em;
  width: 25.89441em;
  overflow: hidden;
}
/* line 90, ../sass/partials/_base.scss */
#headline1 p {
  text-align: justify;
}

/* line 141, ../sass/partials/_page.scss */
#headline2 {
  /*@include border-white($step-3-gold-px);*/
  margin-top: 0.618em;
  width: 25.89441em;
  overflow: hidden;
  margin-left: 4.236em;
}
/* line 90, ../sass/partials/_base.scss */
#headline2 p {
  text-align: justify;
}

/* line 146, ../sass/partials/_page.scss */
#headline3 {
  /*@include border-white($step-3-gold-px);*/
  margin-top: 0.618em;
  width: 25.89441em;
  overflow: hidden;
  margin-left: 11.089em;
}
/* line 90, ../sass/partials/_base.scss */
#headline3 p {
  text-align: justify;
}

/* line 151, ../sass/partials/_page.scss */
#nav_side {
  border: 3.778px solid #2e63a9;
  position: relative;
  /*top: ($step2-gold-16)+($step8-gold-px);*/
  left: -21.223px;
  float: left;
  margin: 1em 2.618em 0 1em;
  padding: 1em 2.618em 1em 0;
  font-family: Verdana, sans-serif;
  background-color: white;
  color: inherit;
  font-size: 1.112em;
  line-height: 2.618;
  clear: both;
  /*@include pretty-bullets('black-arrow-icon.png');*/
}
/* line 166, ../sass/partials/_page.scss */
#nav_side li {
  list-style: none;
  /*  background-image: url(../images/black-arrow-icon.png)*/
}
/* line 171, ../sass/partials/_page.scss */
#nav_side a {
  color: inherit;
  text-decoration: none;
}
/* line 174, ../sass/partials/_page.scss */
#nav_side a:hover {
  text-decoration: underline;
}

/* line 180, ../sass/partials/_page.scss */
#main {
  margin: 2.618em auto;
  padding: 1.618em 1.618em 1em 0;
  color: #2e63a9;
  background-color: white;
  width: 76%;
  font-family: "LatoRegular", sans-serif;
}

/* line 189, ../sass/partials/_page.scss */
#doneer_buttons {
  float: right;
  clear: both;
  position: relative;
  left: -11.089em;
  top: 1em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

/* line 199, ../sass/partials/_page.scss */
#doneer, #sponsor {
  -webkit-border-radius: 1em 1.618em;
  -moz-border-radius: 1em / 1.618em;
  border-radius: 1em / 1.618em;
  background: #ecc1bc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ecc1bc 0%, #df978f 17%, #d26f64 33%, #820d00 50%, #d41500 69%, #d41500 98%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecc1bc), color-stop(17%, #df978f), color-stop(33%, #d26f64), color-stop(50%, #820d00), color-stop(69%, #d41500), color-stop(98%, #d41500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ecc1bc 0%, #df978f 17%, #d26f64 33%, #820d00 50%, #d41500 69%, #d41500 98%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ecc1bc 0%, #df978f 17%, #d26f64 33%, #820d00 50%, #d41500 69%, #d41500 98%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ecc1bc 0%, #df978f 17%, #d26f64 33%, #820d00 50%, #d41500 69%, #d41500 98%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ecc1bc 0%, #df978f 17%, #d26f64 33%, #820d00 50%, #d41500 69%, #d41500 98%);
  /* W3C */
  transition: all 1s ease 2s;
  -moz-transition: all 1s ease 2s;
  -o-transition: all 1s ease 2s;
  -webkit-transition: all 1s ease 2s;
  -ms-transition: all 1s ease 2s;
  padding: 0.382em 1.618em;
  margin: 2.335px 0 0 1em;
  display: inline-block;
}
/* line 206, ../sass/partials/_page.scss */
#doneer:hover, #sponsor:hover {
  position: relative;
  left: 0.618px;
  top: 1.618px;
}
/* line 211, ../sass/partials/_page.scss */
#doneer a, #sponsor a {
  color: white;
  text-decoration: none;
}

/* line 220, ../sass/partials/_page.scss */
.main_content p {
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  -webkit-column-width: 36%;
  -moz-column-width: 36%;
  -ms-column-width: 36%;
  -o-column-width: 36%;
  column-width: 36%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2.618em;
  -moz-column-gap: 2.618em;
  -ms-column-gap: 2.618em;
  -o-column-gap: 2.618em;
  column-gap: 2.618em;
  color: #333333;
  max-width: 80%;
  max-height: 17.942em;
  position: relative;
  left: -2.618em;
  text-align: justify;
  text-indent: 1.618em;
  line-height: 1.4;
}
/* line 235, ../sass/partials/_page.scss */
.main_content h2 {
  border-bottom: 1.443px solid #2e63a9;
  padding: 2.618em 0 1em 1.618em;
  max-width: 68%;
  color: #1d3d69;
}

/* line 248, ../sass/partials/_page.scss */
#logo_header {
  float: left;
}

/* line 252, ../sass/partials/_page.scss */
#ad_space {
  height: 100%;
  width: 12%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
}

/*#bottom_line {
  margin: 20px auto;
  height: 10px;
  width: 68%;
  background-image: url(../images/blue_line.png);
}*/
/* line 269, ../sass/partials/_page.scss */
#bottom_content {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 0 2.618em;
  text-align: center;
}

/* line 276, ../sass/partials/_page.scss */
.bottom_containers {
  float: left;
  width: 28%;
  min-width: 14.867em;
  padding: 1em;
}
/* line 281, ../sass/partials/_page.scss */
.bottom_containers p {
  padding: 1em;
  background-image: url(../images/shattered_blue.png);
  background-size: cover;
  color: #4781cd;
}

/* line 7, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 9, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
