@import "compass/css3";
@import "compass/typography";
@include font-face-bitstream-roman;
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
    background-color: $main-blue;

}

#container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  margin: ($step3-gold)em auto 0;
  width: 100%;
  background-color: $main-blue;
    img {
      margin: ($step2-gold)em ($step1-gold)em ($step2-gold)em 0;
    }
}
.slideshow {
    @include clearfix;
}

#logo {
  position: absolute;
  top: ($step6-gold)px;
  left: 3.178*($step6-gold)px;
}

#slideshow {
  float: left;
  border: ($step-1-gold)px solid $main-white;
}

#nav_bar ul {
  @include horizontal-list-container;
  @include border-blue;
  float: left;
  position: relative;
  left: -($step4-gold)em;
  clear: both;
  display: block;
  margin: 0 ($step3-gold)em ($step3-gold)em ($step-1-gold)em;
  background-color: $main-white;
  padding: ($step2-gold)em;
  font-family: 'BitstreamVeraSansRoman', sans-serif;
  font-weight: bold;
    li {
      @include horizontal-list-item (($step-1-gold)em, left);
    }
      a {
        color: inherit;
        text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
      }
}

.headlines {
  float: left;
  color: $main-white;
  line-height: 1;
  font-size: ($step-1-gold)em;
}


#headline1 {
  @include headliner;
}

#headline2 {
  @include headliner;
  padding-left: ($step3-gold)em;
}

#headline3 {
  @include headliner;
  padding-left: ($step5-gold)em;
}

#nav_side {
  @include border-blue;
  position: relative;
  left: -($step4-gold)em;
  float: left;
  margin: 0 ($step3-gold)em 0 ($step1-gold)em;
  padding: ($step1-gold)em ($step3-gold)em ($step1-gold)em 0;
  font-family: 'BitstreamVeraSansRoman', sans-serif;
  background-color: $main-white;
  color: inherit;
  font-size: 1.112*($step1-gold)em;
  line-height: 1.618;
  clear: both;
    li {
      list-style: none;
      @include pretty-bullets("../images/black-arrow-icon.png", 10px, 10px)
    /*  background-image: url("../images/black-arrow-icon.png")*/
    }
            a {
        color: inherit;
        text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
      }
}

#main {
  margin: ($step2-gold)em auto;
  color: $main-blue;
  background-color: $main-white;
  width: 76%;
  height: 80em;
}

#logo_header {
  float: left;
  /*display: inline-block;*/
}
footer {}
