@import "compass/css3";
@import "compass/typography";
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
    background-color: $main-blue;

}

#container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  top: 1em;
  left: 1em;
  width: 100%;
  background-color: $main-red;
    ul li {
      list-style: none;
      float: left;
      padding: 0.7em;
    }
}
#nav_bar ul {
  @include horizontal-list-container;
  display: block;
  margin: 2em;
    li {
      @include horizontal-list-item (0.344em, left);
    }
}

#nav_side {
  float: left;
  margin: 1em;
  width: 20%;
  background-color: $main-blue;
  color: $main-white;
  @include clearfix;
}

#main {
  margin: $step2-gold-em auto;
  color: $main-blue;
  background-color: $main-white;
  width: 1.618*($step8-gold-em);
  height: 160em;
}

#logo_header {
  float: left;
  display: inline-block;
}
footer {}
