@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
    background-color: $main-blue;

}

#container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  white-space: nowrap;
  top: 1em;
  left: 1em;
  width: 100%;
  background-color: $main-red;
    ul li {
      list-style: none;
      float: left;
      padding: 0.7em;
    }
}

#nav_side {
  position: relative;
  top: 50%;
  left: 1em;
  width: 20%;
}

#main {
  color: $main-blue;
  background-color: $main-white;
  float: left;
  width: 100%;
}

#logo_header {
  float: right;
}
footer {}
